* {
  margin: 0;
  padding: 0%;
}
#root{
  min-height: 100%;
}

html  {
  scroll-behavior: smooth;
}

html, body{
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url(./Images/back.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #001f3f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-brand {
  font-size: x-large;
  font-weight: bolder;
  color: white;
}
.nav-brand:hover {
  color: white;
  text-decoration: none;
}

.nav-item a {
  color: white !important;
}
.navbar-toggler {
  border-color: white !important;
}

.navbar{
  padding: 1.25rem 4rem !important;
}

#row1{
  height: inherit;
}

#container1{
  min-height: 100%;
  color: white !important; 
  padding: 1rem;
}


#footer{
  color: white;
  /* height: 14rem;  */
  position: fixed; 
  left: 0;
  bottom: 0; 

}
#footer1{
  min-height: 12rem;
}

#copyR{
  font-size: 14px;
}

.nav-header{
  padding-top: 15px; 
  color: grey;
}

.nav-content .nav{
  padding-top: 15px;
}

.footer{
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center; 
  background-color: #001F38;
}

#bannerImage{
  text-align: center;
  margin: auto;
} 

#bannerImageID{
  border-radius: 20px;
}
